/* autoprefixer grid: autoplace */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
h1 {
  display: flex;
  flex-direction: column;
}
.header {
  background: #20232a;
  min-height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hrd__nav__ul {
  display: flex;
}

.hrd__nav__ul li {
  height: 50px;
  display: flex;
  padding: 0 20px;
  border-right: 1px solid #61dafb;
  position: relative;
  align-items: center;
}
.hrd__nav__ul li:last-child {
  border-right: none;
}
.hrd__nav__ul li a {
  color: #61dafb;
  text-decoration: none;
}
.hrd__nav__ul li a.active {
  color: #ffe;
}
.hrd__nav__ul li a:hover {
  color: #ffe;
}
.hrd__nav__ul li ul {
  position: absolute;
  background: #20232a;
  top: 50px;
  display: none;
  z-index: 1;
}
.hrd__nav__ul li:hover ul {
  display: block;
}
.hrd__nav__ul li > ul li {
  padding: 20px;
  height: 60px;
  border: 1px solid #61dafb;
  background: hsl(222, 15%, 23%);
}
@media screen and(max-width:800px) {
  .hdr__nav {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #20232a;
    min-height: 500vh;
    transform: translateX(100%);
    transition: all ease 1s;
    z-index: 1;
    display: none;
  }
  .hdr__navAnimation {
    transform: translateX(0%);
    z-index: 1;
  }
  .hdr__navMobile {
    display: block;
  }
  .hrd__nav__ul {
    flex-direction: column;
  }
  .hrd__nav__ul li {
    border-right: none;
  }
}
.wrapper__room {
  width: 95%;
  margin: 25px auto 0;
  display: flex;
  flex-direction: column;
  background-color: #20232a;
  padding-top: 10px;
  box-shadow: 0px 4px 5px #20232a;
}
.room__choicedApText {
  text-align: center;
  color: #fff;
  padding: 20px;
}
.room__img {
  width: 85%;
  margin: 0 auto;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.room__description {
  display: flex;
  width: 75%;
  margin: 0 auto;
  flex-direction: column-reverse;
  background-color: #20232a;
  color: #fff;
  padding-bottom: 20px;
}
@media screen and(max-width:800px) {
  .room__description {
    width: 85%;
  }
}
.room__description p {
  margin-top: 10px;
}
.room_descr_r,
.room_descr_l {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  justify-content: center;
}
@media screen and(max-width:800px) {
  .room_descr_r,
  .room_descr_l {
    width: 100%;
    margin: 0;
  }
}
.paginationBtn {
  margin: 0 5px;
  border: none;
  outline: none;
  height: 20px;
  width: 20px;
  color: #fff;
  border-radius: 50%;
  background: #20232a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.activePaginationBtn {
  margin: 0 5px;
  height: 20px;
  width: 20px;
  border: none;
  outline: none;
  color: #61dafb;
  border-radius: 50%;
  background: #20232a;
  transform: scale(1.2);
}
.paginationBtn:hover,
.activePaginationBtn:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: #61dafb;
  box-shadow: 0px 4px 5px #20232a;
}
.pagination_ul {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
@media screen and(max-width:800px) {
  .pagination_ul {
    width: 280px;
  }
}
.pagination_ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper__forSearch {
  margin: 10px;
}
.wrapper__forSearch input {
  margin-left: 10px;
}
// @media screen and(max-width:800px) {
//   .wrapper__forSearch input {
//     width: 80%;
//     margin: 0 auto;
//   }
// }
.orderRoom {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 10px 0;
  height: 40px;
  justify-content: center;
  align-items: center;
  background: #20232a;
  color: #61dafb;
}
.orderRoom:hover {
  background-color: #292b31;
}
.pagination_nav {
  margin: 20px 0;
}

.wrapper_forInputDate form {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  background-color: #20232a;
  width: 95%;
  margin: 0 auto;
}
input {
  width: 280px;
  height: 35px;
  border: 1px solid #20232a;
  border-radius: 5px;
  margin: 0 auto;
  padding-left: 10px;
  outline: none;
}
// .booking_inputDate {
//   width: 320px;
//   height: 35px;
//   border: 1px solid #20232a;
//   border-radius: 5px;
//   margin: 0 auto;
// }
.booking_btn {
  width: 100%;
  height: 50px;
  background-color: #20232a;
  border: none;
  outline: none;
  color: #61dafb;
}
.booking_btn:hover {
  color: #fff;
  background-color: #36383f;
  cursor: pointer;
}
.room__ordered__date {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.room__ordered__descrp {
  display: flex;
  width: 100%;
  flex-direction: column;

  background-color: #20232a;
  color: #fff;
}
.room__ordered__cancel {
  width: 100%;
  height: 50px;
  background-color: #20232a;
  border: none;
  outline: none;
  color: #61dafb;
}
.room__ordered__cancel:hover {
  background-color: #36383f;
  color: #fff;
  cursor: pointer;
}
.react-calendar {
  margin: 0px auto;
}
.wrappere_forCalendar {
  width: 95%;
  margin: 0 auto;
  padding: 15px 0;
  background-color: #20232a;
}

//Mobile btm menu
.header__mobile-button {
  display: none;
  margin-left: 10px;
}
@media screen and (max-width: 800px) {
  .header__mobile-button {
    width: 20px;
    height: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    margin-right: 15px;
  }
}

.header__mobile-button-line {
  width: 100%;
  border-radius: 40px;
  height: 1px;
  display: flex;
  background: white;
  transition: all ease 0.5s;
  transform-origin: 0 0;
}
.active_line_top {
  transform: rotateZ(45deg) translateY(-5px) translateX(-3px);
}
.active_line_center {
  opacity: 0;
}
.active_line_bottom {
  transform: rotateZ(-45deg) translateX(1px);
}
.wrapper__signUp {
  width: 95%;

  margin: 20px auto;
  padding: 40px 0;
  background-color: #20232a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper__signUp form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper__signUp input {
  margin: 10px 0 0;
}
.signUp__name {
  color: #fff;
}
.signUp__lin_to_logIn {
  text-decoration: none;
  color: #fff;
  margin: 10px;
}
.signUp__btn {
  width: 100%;
  background: #20232a;
  outline: none;
  color: #61dafb;
  border: none;
  height: 50px;
}
.signUp__btn:hover {
  cursor: pointer;
  background-color: #292b31;
  color: #fff;
}
.wrapper__logIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 20px auto;
  background: #20232a;
  padding: 50px 0;
  // height: 95vh;
}
.wrapper__logIn form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__name {
  color: #fff;
}
.wrapper__logIn input {
  margin: 10px 0 0;
}
.logIn__btn {
  width: 100%;
  background: #20232a;
  outline: none;
  color: #61dafb;
  border: none;
  height: 50px;
  margin-top: 10px;
}
.logIn__btn:hover {
  background: #292b31;
  cursor: pointer;
  color: #fff;
}
.home__img__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.wrapper__slider {
  background: #292b31;
  padding: 20px 0;
  height: 700px;
}
.ExactRoom__choiceDateTag {
  text-align: center;
}
.ExactRoom__bookedTag {
  text-align: center;
  color: red;
}
.wrapper__about {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  background: #20232a;
  margin-top: 20px;
}
.about__name {
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
.about__text {
  display: flex;
  width: 95%;
  margin: 10px auto;
  text-align: justify;
  color: #fff;
}
.wrapper__contacts {
  width: 95%;
  background: #20232a;
  margin: 20px auto 0;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.contacts__name {
  text-align: center;
  color: #fff;
  padding: 20px 0;
}
.contacts__block {
  width: 55%;
  min-width: 280px;
  background: #292b31;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #61dafb;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.contacts__block a {
  color: #61dafb;
  text-decoration: none;
}
.contacts__bock_name {
  color: #fff;
  margin: 20px 0 10px;
}
.removeScroll {
  overflow: hidden;
}
.header__signOutbtn {
  background: #20232a;
  color: #61dafb;
  outline: none;
  border: none;
}
.header__signOutbtn:hover {
  color: #fff;
  cursor: pointer;
}
