* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
#root {
  background: #fff;
}
li {
  list-style: none;
}
h1 {
  display: flex;
  flex-direction: column;
}
.header {
  background: #282c35;
  min-height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  position: fixed;
  width: 100%;
}
@media screen and(max-width:800px) {
  .header {
    flex-direction: row-reverse;
  }
}
.hrd__nav__ul {
  display: flex;
}

.hrd__nav__ul li {
  height: 10vh;
  display: flex;

  position: relative;
  align-items: center;
}
.hrd__nav__ul li:last-child a,
.hrd__nav__ul li:last-child button {
  border-right: none;
}
.hrd__nav__ul li a,
.hrd__nav__ul li button {
  color: #61dafb;
  text-decoration: none;
  font-size: 1rem;
  padding: 0 20px;
  border-right: 1px solid #61dafb;
}
.hrd__nav__ul li a.active {
  color: #ffe;
}
.hrd__nav__ul li a:hover {
  color: #ffe;
}
.hrd__nav__ul li ul {
  position: absolute;
  background: #20232a;
  top: 10vh;
  display: none;
  z-index: 1;
}
.hrd__nav__ul li:hover ul {
  display: block;
}

.hrd__nav__ul li > ul li {
  padding: 20px;
  height: 60px;
  border: 1px solid #61dafb;
  background: hsl(222, 15%, 23%);
}
@media screen and(max-width:800px) {
  .hrd__nav__ul li ul {
    display: block;
    top: 5vh;
  }
  .hrd__nav__ul li > ul li {
    padding: 0;
    height: 5vh;
    border: none;
    background: inherit;
  }
}
.hrd__nav__ul li > ul li a {
  border: none;
}
@media screen and(max-width:800px) {
  .hdr__nav {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #20232a;
    height: 100%;
    transform: translateX(90vw);
    transition: transform ease 1s;
  }
  .hdr__navAnimation {
    transform: translateX(0vw);
  }
  .hrd__nav__ul {
    flex-direction: column;
    margin-top: 20px;
  }
  .hrd__nav__ul li {
    height: 5vh;
  }
  .hrd__nav__ul li a {
    border-right: none;
  }
  .hrd__nav__ul li button {
    border-right: none;
  }
}
.wrapper__room {
  width: 100%;
  margin: 0 auto 25px;
  display: flex;
  flex-direction: column;
  background-color: #20232a;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 5px #20232a;
}
.selected__room {
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 0 0 20px;
}

.selected__roomOne {
  min-height: 90vh;
  margin: 0;
  border-radius: 0;
}
.room__choicedApText {
  text-align: center;
  color: #fff;
  padding: 20px;
}
.room__img {
  width: 85%;
  margin: 0 auto;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
@media screen and(max-width:800px) {
  .room__img {
    width: 98%;
  }
}
.room__img__selected {
  width: 100%;
  height: 100%;
}
.room__description {
  display: flex;
  width: 75%;
  margin: 0 auto;
  flex-direction: column-reverse;
  background-color: #20232a;
  color: #fff;
  padding-bottom: 20px;
}
@media screen and(max-width:800px) {
  .room__description {
    width: 85%;
  }
}
.room__description__selected {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 15px auto;
}
.room__description__selected p {
  color: rgba(255, 255, 255, 0.4);
}
.room__description p {
  margin-top: 10px;
}
.room_descr_r,
.room_descr_l {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  justify-content: center;
}
@media screen and(max-width:800px) {
  .room_descr_r,
  .room_descr_l {
    width: 100%;
    margin: 0;
  }
}
.paginationBtn {
  margin: 0 5px;
  border: none;
  outline: none;
  height: 20px;
  width: 20px;
  color: #fff;
  border-radius: 50%;
  background: #20232a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.activePaginationBtn {
  margin: 0 5px;
  height: 20px;
  width: 20px;
  border: none;
  outline: none;
  color: #61dafb;
  border-radius: 50%;
  background: #20232a;
  transform: scale(1.2);
}
.paginationBtn:hover,
.activePaginationBtn:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: #61dafb;
  box-shadow: 0px 4px 5px #20232a;
}
.pagination_ul {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
@media screen and(max-width:800px) {
  .pagination_ul {
    width: 280px;
  }
}
.pagination_ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rooms__aside {
  position: relative;
  width: 29%;
}
@media screen and(max-width:800px) {
  .rooms__aside {
    width: 100%;
  }
}
.form__rooms {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__rooms label {
  color: #fff;
  margin-bottom: 10px;
}
.form__rooms input {
  width: 100%;
}
.form__rooms__btn {
  width: 100%;
  background: #292b31;
  outline: none;
  color: #61dafb;
  border: none;
  height: 40px;
  margin-top: 15px;
  &:hover {
    cursor: pointer;
    background-color: #292b31;
  }
}

.wrapper__room__aside__inner {
  position: fixed;
  left: 0px;
  padding: 15px;
  width: 29%;
  // max-height: 40vh;
  background-color: #20232a;
  border-radius: 0 10px 10px 0;
}
@media screen and(max-width:800px) {
  .wrapper__room__aside__inner {
    position: static;
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    margin-bottom: 10px;
  }
}
.orderRoom {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 10px 0;
  height: 40px;
  justify-content: center;
  align-items: center;
  background: #20232a;
  color: #61dafb;
}
.orderRoom:hover {
  background-color: #292b31;
}
.pagination_nav {
  margin: 20px 0;
}
input {
  width: 280px;
  height: 35px;
  border: 1px solid #20232a;
  border-radius: 5px;
  margin: 0 auto;
  padding-left: 10px;
  outline: none;
}
.booking_inputDate {
  margin-top: 20px;
}
.booking_btn {
  width: 100%;
  height: 50px;
  background-color: #20232a;
  border: none;
  outline: none;
  color: #61dafb;
}
.booking_btn:hover {
  color: #fff;
  background-color: #36383f;
  cursor: pointer;
}
.room__ordered__date {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.room__ordered__descrp {
  display: flex;
  width: 85%;
  margin: 0 auto;
  flex-direction: column;

  background-color: #20232a;
  color: #fff;
}
.room__ordered__cancel {
  width: 100%;
  height: 50px;
  background-color: #20232a;
  border: none;
  outline: none;
  color: #61dafb;
}
.room__ordered__cancel:hover {
  background-color: #36383f;
  color: #fff;
  cursor: pointer;
}
.react-calendar {
  margin: 0px auto;
  max-width: 280px;
}
.header__mobile-button {
  display: none;
  margin-left: 10px;
}
@media screen and (max-width: 800px) {
  .header__mobile-button {
    width: 20px;
    height: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    margin-right: 15px;
  }
}

.header__mobile-button-line {
  width: 100%;
  border-radius: 40px;
  height: 1px;
  display: flex;
  background: white;
  transition: all ease 0.5s;
  transform-origin: 0 0;
}
.active_line_top {
  transform: rotateZ(45deg) translateY(-5px) translateX(-3px);
}
.active_line_center {
  opacity: 0;
}
.active_line_bottom {
  transform: rotateZ(-45deg) translateX(1px);
}
.wrapper__signUp {
  width: 100%;
  margin: 0 auto 0px;
  padding: 10vh 0 40px;
  background-color: #20232a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.wrapper__signUp form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper__signUp input {
  margin: 10px 0 0;
}
.signUp__name {
  color: #fff;
}
@media screen and (max-width: 800px) {
  .signUp__name {
    font-size: 25px;
  }
}
.signUp__lin_to_logIn {
  text-decoration: none;
  color: #fff;
  margin: 10px;
}
.signUp__btn {
  width: 100%;
  background: #20232a;
  outline: none;
  color: #61dafb;
  border: none;
  height: 50px;
}
.signUp__btn:hover {
  cursor: pointer;
  background-color: #292b31;
  color: #fff;
}
.wrapper__logIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #20232a;
  padding: 10vh 0 40px;
  height: 100vh;
}
.wrapper__logIn form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__name {
  color: #fff;
}
.wrapper__logIn input {
  margin: 10px 0 0;
}
.logIn__btn {
  width: 100%;
  background: #20232a;
  outline: none;
  color: #61dafb;
  border: none;
  height: 50px;
  margin-top: 10px;
}
.logIn__btn:hover {
  background: #292b31;
  cursor: pointer;
  color: #fff;
}
.home__img__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__img__wrapper h2 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -55%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-shadow: -3px 2px 1px black;
}
@media screen and(max-width:800px) {
  .home__img__wrapper h2 {
    width: 100%;
    text-align: center;
  }
}
.home__img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
}
.wrapper__slider {
  background: #292b31;
  padding-top: 10vh;
  height: 100vh;
}
.ExactRoom__choiceDateTag {
  text-align: center;
  color: #fff;
  padding-top: 10vh;
}
.ExactRoom__choiceDateInfo {
  text-align: center;
  color: #fff;
}
.ExactRoom__bookedTag {
  text-align: center;
  color: red;
}
.wrapper__about {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-top: 10vh;
  // margin: 0 auto;
  background: #20232a;
}
.about__name {
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
.about__text {
  display: flex;
  width: 95%;
  margin: 10px auto;
  text-align: justify;
  color: #fff;
}
.wrapper__contacts {
  width: 100%;
  background: #20232a;
  margin: 0 auto 0;
  padding: 10vh 0 40px;
  display: flex;
  flex-direction: column;
}
.contacts__name {
  text-align: center;
  color: #fff;
  padding: 20px 0;
}
.contacts__block {
  width: 55%;
  min-width: 280px;
  background: #292b31;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #282c35;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.contacts__block a {
  color: #61dafb;
  text-decoration: none;
}
.contacts__bock_name {
  color: #fff;
  margin: 20px 0 10px;
}
.removeScroll {
  overflow: hidden;
}
.header__signOutbtn {
  background: inherit;
  color: #61dafb;
  outline: none;
  border: none;
  font-size: 1rem;
}

.active_wrapperhdrNavMobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media screen and(max-width:800px) {
  .header__signOutbtn {
    position: relative;
    top: 15vh;
  }
}
.header__signOutbtn:hover {
  color: #fff;
  cursor: pointer;
}
.room__busyRoom {
  width: 95%;
  margin: 10px auto;
  background: #20232a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 0px;
  opacity: 0;
  height: 0;
  transition: padding ease 1s;
}
.room__busyRoomActive {
  opacity: 1;
  padding: 30px;
  height: auto;
  transition: padding ease 1s;
}
.wrapper__room__busyRoom {
  height: 22px;
  width: 100%;
  margin: 0px auto;
  background: #292b31;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 5px #4e5058;
}
.wrapper__room__busyRoom:hover {
  cursor: pointer;
}

.wrapper__room__busyRoom h3 {
  color: #fff;
}
.wrapper__room__busyRoomActive {
  height: auto;
}
.wrapper__calendars {
  display: flex;
}
@media screen and(max-width:800px) {
  .wrapper__calendars {
    flex-direction: column;
  }
}
.formCalendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  background-color: #20232a;
  width: 100%;
}
.wrapper_forInputDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.wrapper_bookedEmpty {
  width: 100%;
  margin: 0 auto;
  background: #20232a;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper_bookedEmpty h1 {
  color: #fff;
}
.wrapper_bookedEmpty a {
  color: #61dafb;
  text-decoration: none;
}
.formCalendar__name {
  color: #fff;
  margin: 10px 0;
}
.Modal {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(32, 35, 42, 1);
  height: 250px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 15px #fff;
  border-radius: 10px;
  padding: 0 20px;
}
@media screen and (max-width: 800px) {
  .Modal {
    width: 95%;
  }
}
.ModalImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 10vh;
}
.ModalImg__close_btn {
  position: absolute;
  top: 11vh;
  right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #282c35;
  border: none;
  outline: none;
  color: #fff;
  box-shadow: 0px 1px 13px #61dafb;
  &:hover {
    cursor: pointer;
  }
}
.gallery__imgOpen_btn {
  // position: absolute;
  &:hover {
    cursor: pointer;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(32, 35, 42, 0.8);
}
.modalClose__btn {
  background: #20232a;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
}
.modalClose__btn:hover {
  cursor: pointer;
}
.ExactRoom__h1 {
  background: #20232a;
  padding: 20px 0 0;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  background: #20232a;
  justify-content: space-around;
  align-items: center;
  padding-top: 10vh;
  min-height: 100vh;
}

.img__open__Modal {
  object-fit: contain;
  width: 100%;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item {
  width: 300px;
  height: 300px;
  margin: 30px 0px 0;
}
.services {
  width: 100%;
  min-height: 90vh;
  padding: 10vh 20px 20px;
  background-color: #20232a;
}
.services__h1 {
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
.services p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.5rem;
  line-height: 40px;
  width: 90%;
  margin: 0 auto;
}
.services img {
  width: 100%;
  object-fit: cover;
  margin: 15px 0;
}
.inputsError {
  color: red;
  margin-top: 5px;
}
.header__logoBlock {
  height: 10vh;
  width: 70px;
  display: flex;
}
.header__logoBlock__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: 5px;
}
.wrapper__rooms {
  padding-top: 11vh;
  display: flex;
  justify-content: space-between;
}
.rooms__section {
  width: 70%;
}
@media screen and(max-width:800px) {
  .header__logoBlock {
    position: absolute;
    left: 10px;
  }
  .wrapper__rooms {
    flex-direction: column;
  }
  .rooms__section {
    width: 100%;
  }
}
.home__about {
  background: #20232a;
  h1 {
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding: 20px 0;
  }
  p {
    color: rgba(255, 255, 255, 0.4);
    text-align: justify;
    padding: 20px 30px;
  }
}
.fb-share-button {
  margin-top: 20px;
}
