/* autoprefixer grid: autoplace */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
h1 {
  display: flex;
  flex-direction: column;
}
.header {
  background: #20232a;
  min-height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hrd__nav__ul {
  display: flex;
}
.hrd__nav__ul li {
  height: 50px;
  display: flex;
  padding: 0 20px;
  border-right: 1px solid #61dafb;
  position: relative;
  align-items: center;
}
.hrd__nav__ul li:last-child {
  border-right: none;
}
.hrd__nav__ul li a {
  color: #61dafb;
  text-decoration: none;
}
.hrd__nav__ul li a.active {
  color: #ffe;
}
.hrd__nav__ul li a:hover {
  color: #ffe;
}
.hrd__nav__ul li ul {
  position: absolute;
  background: #20232a;
  top: 50px;
  display: none;
}
.hrd__nav__ul li:hover ul {
  display: block;
}
.hrd__nav__ul li > ul li {
  padding: 20px;
  height: 60px;
  border: 1px solid #61dafb;
  background: hsl(222, 15%, 23%);
}
.wrapper__room {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.room__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.room__description {
  display: flex;
  width: 100%;
}
.room_descr_r,
.room_descr_l {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.activePaginationBtn {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
  background: grey;
}
